[submodule "_retail_/Interface/Update/DynamicCam"]
	path = _retail_/Interface/Update/DynamicCam
	url = https://github.com/Mpstark/DynamicCam.git
	branch = master
[submodule "_classic_/Interface/AddOns/aux-addon"]
	path = _classic_/Interface/AddOns/aux-addon
	url = https://github.com/shirsig/aux-addon.git
	branch = master
[submodule "_classic_/Interface/AddOns/[update]/DBM-Classic"]
	path = _classic_/Interface/AddOns/[update]/DBM-Classic
	url = https://github.com/DeadlyBossMods/DBM-Classic.git
	branch = master
