# Ignore all
*

# Except for advanced tracking rules
!*/

# Track specific files
!.gitignore
!.gitmodules

################################################################################
# ＫＯＫＯＮＵＴＫＲＥＷ
################################################################################

!\#kokonutkrew/**

################################################################################
# Retail
################################################################################

# Recursively track the interface directory
!_retail_/Interface/**

# Track Config files
!_retail_/WTF/*.wtf

# Track addon data
!_retail_/WTF/Account/**/SavedVariables/**
!_retail_/WTF/Account/**/**/**/SavedVariables/**

# Whenever settings are downloaded from the server,
# the old settings are saved in <file>.old. Log out, 
# move them back into place and they'll be uploaded to
# Blizzard servers.

# Track settings that require an upload to Blizzard servers
!_retail_/WTF/Account/*/*.txt
!_retail_/WTF/Account/*/*.wtf
!_retail_/WTF/Account/*/*/*/*.txt
!_retail_/WTF/Account/*/*/*/bindings-cache.wtf

################################################################################
# Classic
################################################################################

# Recursively track the interface directory
!_classic_/Interface/**

################################################################################
# Specific ignore cases
################################################################################
*.DS_Store
**/build/**