.form-section label {
  display: flex;
  align-items: center; }

.form-classic b {
  order: -1;
  flex-shrink: 0;
  display: flex;
  width: 24px;
  height: 24px;
  margin-right: 16px;
  position: relative;
  background: #332E4D;
  transition: 0.15s background, 0.15s opacity; }
  .form-classic b:before {
    content: "";
    position: absolute;
    opacity: 0;
    transition: 0.15s; }

.form-classic .form-section:hover b {
  background: #484266; }

.form-classic .form-section:hover input[type="checkbox"]:checked + label b {
  background: #FF0055; }

.form-classic input[type="checkbox"] + label b:before {
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background: url("data:image/svg+xml;utf8,\a                       <svg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>\a                         <path fill-rule='evenodd' clip-rule='evenodd' d='M17.6 7.20006C18.0418 7.53143 18.1314 8.15823 17.8 8.60006L11.8 16.6001C11.6261 16.832 11.3601 16.977 11.0709 16.9975C10.7817 17.0181 10.4979 16.9122 10.2929 16.7072L7.29289 13.7072C6.90237 13.3166 6.90237 12.6835 7.29289 12.293C7.68342 11.9024 8.31658 11.9024 8.70711 12.293L10.8918 14.4777L16.2 7.40006C16.5314 6.95823 17.1582 6.86869 17.6 7.20006Z' fill='%23F4F2FF'/>\a                       </svg>"); }

.form-classic input[type="checkbox"]:checked + label b {
  background: #E6004C; }
  .form-classic input[type="checkbox"]:checked + label b:before {
    opacity: 1; }
