<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="wowuides.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <wowuides.Properties.Settings>
            <setting name="FindWindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WorkingDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="GetLocaleReturn" serializeAs="String">
                <value>enUS</value>
            </setting>
            <setting name="DisableErrorMarking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InstallDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ZipFormSettings" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZipFileIncludes" serializeAs="String">
                <value>*.*</value>
            </setting>
            <setting name="BlpSaveOptions" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VerifyAllXml" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VerifyBlizzardXml" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProjectExplorerOptions" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoadLastProject" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastProjectLoaded" serializeAs="String">
                <value />
            </setting>
            <setting name="TextEditorOptions" serializeAs="String">
                <value>126</value>
            </setting>
            <setting name="LoadFrameXml" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoadAddons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoadAddon" serializeAs="String">
                <value>False</value>
            </setting>
        </wowuides.Properties.Settings>
    </userSettings>
</configuration>