* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  user-select: none; }

a:link,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none; }

fieldset {
  border: none; }

button {
  border: none;
  font-family: inherit;
  background-color: inherit; }

button:focus {
  outline: none; }

img {
  max-width: 100%; }

html, body {
  height: 100%;
  cursor: default;
  padding: 0;
  margin: 0;
  overflow: hidden; }

.btn-icon, i {
  position: relative;
  width: var(--size, 30px);
  height: var(--size, 30px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  cursor: default;
  transition: 0.15s; }
  .btn-icon svg, i svg {
    width: 100%;
    height: 100%;
    flex: 0 0 auto;
    pointer-events: none;
    user-select: none; }

.svg-icon-fill {
  fill: currentcolor; }

.svg-icon-stroke {
  fill: none;
  stroke: currentcolor; }

.btn {
  font-size: 16px;
  white-space: nowrap;
  padding: 0 16px;
  padding-top: 1px;
  min-width: 80px;
  height: 36px;
  color: white;
  background-color: #E6004C;
  text-align: center;
  transition: 0.15s;
  cursor: default; }
  .btn:hover, .btn:active {
    background-color: #FF0055; }
  .btn:disabled {
    opacity: 0.3;
    pointer-events: none; }

.btn-text {
  position: relative;
  padding: 0 16px;
  padding-top: 1px;
  min-width: 0;
  color: #F4F2FF;
  background-color: transparent; }
  .btn-text:hover, .btn-text:active {
    background-color: #332E4D; }
  .btn-text.btn-text-bordered {
    border: 1px solid #5F5980; }

a {
  color: #958FB2;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.15s color; }
  a i {
    margin-left: 4px;
    cursor: inherit;
    transition: 0s;
    --size: 32px; }
  a:hover {
    color: #F4F2FF; }

.btn-frame {
  color: #F4F2FF;
  background-color: transparent;
  border: 1px solid #332E4D; }
  .btn-frame:hover {
    color: #F4F2FF;
    background-color: white; }
