.app-header {
  flex-shrink: 0;
  display: flex; }

.app-header-title {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 12px; }
  .app-header-title span {
    padding-top: 4px; }
  .app-header-title > * + * {
    margin-left: 8px; }

.app-title {
  margin: 36px 0 12px 0;
  display: flex;
  flex-direction: column;
  justify-content: center; }
