::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent;
  -webkit-transition: 1s; }

::-webkit-scrollbar-thumb {
  border-width: 0;
  background-color: #484266;
  background-clip: padding-box;
  -webkit-transition: 1s; }

::-webkit-scrollbar-thumb:hover {
  background-color: #797399; }

::-webkit-scrollbar-corner {
  background-color: transparent; }
